<!-- マップ -->
<div class="container">
  <div class="section">
    <div class="row">
      <div id='map'>
      </div>
    </div>
    <div class="row">
      <% @places.order(created_at: "DESC").each do |place| %>
        <div class="col s12 m6">
          <%= render partial: 'places/index', locals: {place: place} %>
        </div>
      <% end %>
    </div>
  </div>
</div>





<!-- スポットデータ受け渡し用 -->
<input name="spot_data" type="hidden" value=<%= @posts_data_json %> class="spot_data"/>

<style>
#map{
  height: 400px;
}
</style>

<!-- Googleマップを利用するためのスクリプト -->
<%= javascript_include_tag 'googlemap.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>

