<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2"></h1>
      <div class="row center">
        <h1 class="header col s12 light"><%= @place.name %></h1>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax img-wrap"><%= image_tag @place.posts.first.images[0].url, class:"img-position-center", style: "width: 100%; object-fit: contain;" %></div>
</div>

<div class="container">
  <h5 style="text-align: center;">
    <%= link_to new_place_post_path(@place), class: "button is-link" do %>
      <i class="fas fa-pencil-alt">この場所で投稿する</i>
    <% end %>
  </h5>
</div>

<%= render partial: 'posts/index', locals: {posts: @place.posts} %>

<script>
  (function($) {
    $(function() {

        $('.sidenav').sidenav();
        $('.parallax').parallax();

    }); // end of document ready
  })(jQuery); // end of jQuery name space
</script>